form {
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    background-color: chartreuse;
    width: 90%;
    min-width: 250px;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}