.search-controls form, .search-controls label {
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-controls label, .search-controls button {
    margin: .25rem;
}

.search-results {
    background-color: lightseagreen;
    color: ivory;
}

.mod-list {
    background-color: cornflowerblue;
}

.search-results li, .mod-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}